@import "../../mixin";
.r_login {
  @include center-block;
  width: 25%;

}
.login-social li i:hover {
  cursor: pointer;
  color: #000;
  transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
}
.login-head {
  margin-top: 20px;
}
.register{
  margin-bottom: 7%;
}
.panel {

  transition: padding 0.5s;
  -moz-transition: padding 0.5s; /* Firefox 4 */
  -webkit-transition: padding 0.5s; /* Safari and Chrome */
  -o-transition: padding 0.5s; /* Opera */
  -ms-transition:padding 0.5s; /* IE9 (maybe) */
  &:hover {
    padding:10px;
  }
}

