@import "../variables";
@import "portada";
@import "login/login";
/*************************************************/
.select-language {
  li {
    cursor: pointer;
    float: left;
  }
}
.divider-vertical {
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #ffffff;
  height: 40px;
  margin: 0 9px;
}

/***Footer**************************/

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

section.footer_social {
  background: #151213;
  float: left;
  padding: 20px 0;
  width: 100%;
  .f_social_icons i {
    color: #4c4c4c;
    font-size: 40px;
    margin: 0 10px;
    transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    &:hover {
      color: #fff;
    }
  }
}

footer {
  background: $footer;
  text-align: center;
  .f_menu {
    float: left;
    width: 100%;
    ul {
      display: block;
      list-style: none;
      margin-top: 30px;
      li {
        display: inline-block;
        &:after {
          content: "/";
          color: #ffffff;
          margin: 0 35px;
        }
        a {
          color: #ffffff;
          font-size: 18px;
          font-weight: 300;
          line-height: 26px;
          text-transform: capitalize;
        }
      }
    }
  }
}