/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.idea/
app/bootstrap_cache.php.cache
app/config/parameters.ini