<ul class="f32 select-language">
  <li class="flag es" ng-click="changeLanguage('Espanol')"></li>
  <li class="divider-vertical"> </li>
  <li class="flag us" ng-click="changeLanguage('English')"></li>
</ul>


