<div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">[[ "views.place.title" | translate ]]</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          [[ "views.place.province" | translate ]]
        </div>
        <div class="panel-body">
          <place place = 'province'></place>
        </div>
        <div class="panel-footer">
          [[txt]]
          <button type="button" class="btn btn-primary btn-xs" ng-click="openModal()"><i class="fa fa-plus"></i> Add</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          [[ "views.place.municipality" | translate ]]
        </div>
        <div class="panel-body">
          <place place = 'municipality'></place>
        </div>
        <div class="panel-footer">
          Panel Footer
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">[[ "views.place.prov.create" | translate ]]</h3>
  </div>
  <div class="modal-body">
    <label for="Province">[[ "views.place.province" | translate ]]</label>
    <input type="text" class="form-control" id="provinceText" placeholder="Province">
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">[[ "views.btn.ok" | translate ]]</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">[[ "views.btn.cancel" | translate ]]</button>
  </div>
</script>